# General dependencies for tests
requests
kubernetes
boto3
pytest
pytest-order
pytest-xdist
pytest-html
names_generator
Jinja2
requests-toolbelt
pytest-timeout

# Agent Framework
# This will install all sub-packages, see `python/packages` for individual packages.
# It may take a minute on first install on Windows.
agent-framework[viz] --pre

pyyaml
pydantic


# Add your project-specific dependencies below
